/* BREAKPOINTS */

@use 'functions' as f;

/* MIN-WIDTH */
$breakpoint-min: (
    'small-screen': f.em(640),
    'medium-screen': f.em(780),
    'large-screen': f.em(920),
    'xlarge-screen': f.em(1440),
);

/* CONVERT INTO MEDIA QUERIES */
@mixin breakpointMin($size) {
    @media (min-width: map-get($breakpoint-min, $size)) {
        @content;
    }
};

/* MAX-WIDTH */
$breakpoint-max: (
    'xlarge-screen': f.em(1399.98),
    'large-screen': f.em(919.98),
    'medium-screen': f.em(639.98),
);

/* CONVERT INTO MEDIA QUERIES */
@mixin breakpointMax($size) {
    @media (max-width: map-get($breakpoint-max, $size)) {
        @content;
    }
}