@use 'sass:math';
@use 'functions' as f;
@use 'fonts' as font;

// text style
@mixin text-style($fw, $color) {
    font-weight: $fw;
    color: $color;
    font-family: font.$public-sans;

    @if $fw == 300 {
        font-size: 1rem;
        font-size: clamp(1rem, 0.91rem + 0.37vw, 1.125rem);
    }
}

// clamp
// value: min-size, max-viewport-width, max-size
@function clampf($minSize, $maxWidth, $maxSize) {
    $minWidth: 375;

    $slope: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));
    $yAxis: -$minWidth * $slope + $minSize;
    $slopeE: ($slope * 100) + vw;

    @if math.is-unitless($maxSize) and math.is-unitless($minSize) and math.is-unitless($maxWidth) {
        @if $minSize > $maxSize {
            @return clamp(f.rem($maxSize), f.rem($yAxis) + $slopeE, f.rem($minSize));

        } @else {
            @return clamp(f.rem($minSize), f.rem($yAxis) + $slopeE, f.rem($maxSize));
        }
    } @else {
        @error 'Don\'t use any units when using clamp() function; use numbers only. /*min-font-size, max-width, max-font-size*/';
    }
}